<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454387167061-uhpt7hdvl45kpl1obuj5idglfhnral1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454387167061-uhpt7hdvl45kpl1obuj5idglfhnral1t</string>
	<key>API_KEY</key>
	<string>AIzaSyBQVL0Y2ChlXsv8kJwdgk_ofUXvN2GMh9k</string>
	<key>GCM_SENDER_ID</key>
	<string>454387167061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pabloliborra.custombreakingnews</string>
	<key>PROJECT_ID</key>
	<string>breakingnews-2dda2</string>
	<key>STORAGE_BUCKET</key>
	<string>breakingnews-2dda2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454387167061:ios:a1bee1ac65da4cd7a009dc</string>
	<key>DATABASE_URL</key>
	<string>https://breakingnews-2dda2-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>